html, body, main, figure, img, figcaption, div, article, section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#atf {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#cardorder {
  display: flex;
}

.cardpriceorder {
  display: flex;
  flex-flow: column;
}

.card {
  height: 300px;
  width: 240px;
  border: 1px solid black;
  border-bottom: 0;
}

.icon {
  margin: 10px;
}

.caption {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 60px;
  width: 240px;
  border: 1px solid black;
  font-size: 1.8rem;
  font-weight: bolder;
  color: green;
}
