html, body, div {
  box-sizing: border-box;
}

html {
  background: black;
}

body {
  display: flex;
  flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  width: 100%;
  min-height: 100px;
}

div {
  /* adds background image and grows with flex */
  background-image: url(../../001/img/DoW.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
