html, body, div {
  box-sizing: border-box;
}

html {
  background: black;
}

body {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  border: 2px solid blue;
}

.c1, .c4, .c5, .c7 {
  width: 100%;
  background: pink;
  min-height: 100px;
  border: 1px solid black;
}

.c2, .c3 {
  width: 50%;
  background: red;
  min-height: 50px;
}

.c6 {
  width: 100%;
  background: green;
  min-height: 75px;
  border: 1px solid black;
}
